:root{
    --soft: hsl(35, 77%, 62%);
    --very-soft: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish: hsl(233, 8%, 79%);
    --dark-grayish: hsl(236, 13%, 42%);
    --very-dark: hsl(240, 100%, 5%);
    }